.mainContainer{
  padding:10px;
}


.split {
    height: 100%;
    width: 50%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top:20px;
  }

.centered {
    position: absolute;
    top: 20%;
    left: 65%;
    padding: 30px;
    width: 100%;
    float:right;
  }

.left{
  left:0;
}

td a {
  display:block;
  width:100%;
}

.space  {
  margin-top: 5px;
}



  
  
  