<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div class = "topnav">
    <img src="images/bored.png" class="logo">
</div>

<div class = "space2">
    </div>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="css/booking.css" />
</head>

<div class = "space2">
    </div>

<body>
    <p th:text="${user.email}"></p>
    
    <p th:text="${num}"></p>

    <table >
        <thead>
            <tr>
                <th> activity </th>
                <th>Cost</th>
                
            </tr>
        </thead>
        <tbody>
        
            <tr th:each="booking : ${bookings}">
                <td th:text="${booking.activityName}"></td>
                <td th:text="${booking.cost}"></td>
               
                
            </tr>
        </tbody>
    </table>

    <div class="footer">
    <div class="button">
    <P><a th:href="@{/gohome}">Go to home page</a></P>
</div>
<div class="button">
    <p><a th:href="@{/viewtickets}">View Tickets</a></p> 
    </div>
   </div>

    
</body>
</html>