<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class = "topnav">
    <img src="/images/bored.png" class="logo">
</div>
<head>
 <meta charset="ISO-8859-1">
 <title>Registration Success</title>
 <link rel="stylesheet" type="text/css" href="/css/createactivity.css" />
</head>
<body>
    <div class="split left">
    <div class="centered">
    <table id="customers">
        <thead>
            <tr>
                <th> Activity </th>
                <th> Description </th>
                <th>Cost</th>
                <th>Delete</th>
               
            </tr>
        </thead>
        <tbody>
        
            <tr th:each="myactivity : ${myActivities}">
                <td th:text="${myactivity.name}"></td>
                <td th:text="${myactivity.description}"></td>
                <td th:text="${myactivity.cost}"></td>
                <td>
                    <form action="#" th:action="@{/deleteactivity/{activityid} (activityid=${myactivity.id})}" th:object="${myactivity.id}" method="post">	
                        <input type="hidden" name="name" value="value" /> 
                      <input type="submit" class="btn btn-outline-primary float_right" value="x">
                      </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

    <div class="spilt right">
    <div class="centered">
    <form th:action="@{/saveactivity}" th:object="${customactivity}" method="post" style="max-width: 600px; margin: 0 auto;">
		<div class="form-group row">
			<div>
				<label class="col-form-label">Enter the name</label>
			</div>
				<div>
					<input type="text" th:field="*{activity.name}" class="form-control"  required/>
				</div>
				<div>
                    <label class="col-form-label">Enter the  description</label>
                </div>
                    <div>
                        <input type="text" th:field="*{activity.description}" class="form-control"  required/>
                    </div>
                    <div>
                        <label class="col-form-label">Enter the  cost</label>
                    </div>
                        <div>
                            <input type="number" th:field="*{activity.cost}" class="form-control"  required/>
                        </div>
				<div>
				<label class="col-form-label">choose one or more categories:</label>
				</div>
				<div>
					<select th:field="*{categories}" class="form-control" multiple="multiple"> 
						<th:block th:each="cat :${listcategories}">
						<option th:text="${cat.name}" th:value="${cat.id}"/>
						</th:block>
						
					
					</select>
				</div>
				<div>
					<button type="submit" class="button">Save</button>
				</div>
		</div>
	</form>
</div>
</div>
</body>
</html>