<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Review</title>
<link rel="stylesheet" href="/css/review.css">
</head>
<div class = "topnav">
	<img src="/images/bored.png" class="logo">
</div>

<div class="space"></div>
    <body>
	    <div class="trip">
	        <p>Add review for an activity from you past booking</p>
	        <div class="button">
	        <p><a th:href="@{/mybooking}">review booking</a></p>
	    	</div>
	    	<div class="space2"></div>

	        <p>Add review for any activity</p>
	        <div class="button">
	        <p><a th:href="@{/allactivities}">review any activity</a></p>
	    	</div>
	    </div>





    </body>
</head>
</html>