<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tickets</title>
<link rel="stylesheet" href="/css/tickets.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class = "topnav">
    <img src="/images/bored.png" class="logo">
</div>

</head>
    <body>
    <p>Tickets</p>
        <table >
            <thead>
                <tr>
                    <th> activity </th>
                    <th>Cost</th>
                    
                </tr>
            </thead>
            <tbody>
            
                <tr th:each="booking : ${bookings}">
                    <td th:text="${booking.activity.name}"></td>
                    <td th:text="${booking.activity.cost}"></td>
                </tr>
            </tbody>
        </table>

        <P><a th:href="@{/gohome}">Go to home page</a></P>
    </body>
</head>
</html>