<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Brands</title>
<link rel="stylesheet" type="text/css" href="css/trip.css">
</head>
<div class = "topnav">
	<img src="images/bored.png" class="logo">
</div>


</div>
<body>
<div class="trip">
    	<p th:text="'Hi, '+${user.firstName} +' lets begin !'"></p>
    	<p>Do you want to plan your own trip ? click the link below</p>
    <div class="button">
    	<a th:href="@{/select}">Plan your trip</a>
	</div>

    <br>
    	<p>Lets Plan for you instead ! click my link below </p>
	

    <div class="button">
    	<a th:href="@{/automatedtrip}">Let plan for you !</a>
	</div>

	
	
</div>
</body>
</html>